<style lang="scss">
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    .main {
        max-width: 80rem;
        margin: 0 auto;
    }
</style>
<html>
    <head>
        <title>Template page</title>
    </head>
    <body>
        <div class="main">
            <slot />
        </div>
    </body>
</html>
